@import '@splidejs/react-splide/dist/css/splide.min.css';

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@layer base {

  html, body {
    height: 100%;
  }

  body {
    @apply font-roboto;
  }
}

.container {
  @apply px-6;
  @media screen(2xl) {
    @apply px-0;
  }
}

.splide__pagination__page {
  @apply bg-black opacity-40 !important;
}
.splide__arrows {
  @apply ml-auto flex items-center !important;
}

.splide__arrow-custom {
  background: none !important;
  @apply relative top-0 left-auto right-auto ml-auto flex transform-none items-center  text-black !important;
}

.splide__slide  {
  &.is-active {
    @apply rounded-md border-accent-500 !important;
  }
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  @apply  min-h-screen;
}

.page__header,
.page__footer {
  flex-shrink: 0;
}

.page__main {
  margin-top: auto;
  flex-grow: 1;
}
